.menu-bar {
  display: flex;
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }

  .el-button {
    &:active {
      border-color: #c6e2ff;
    }

    &.is-active {
      background-color: #ecf5ff;
      border-color: #c6e2ff;
    }
  }

  button {
    display: inline-block;
    height: 32px;
    min-width: 32px;
    text-align: center;
    padding: 0 7px;
    border-color: transparent;
    background-color: transparent;
    color: #606266;
  }

  .el-button-group {
    height: 32px;

    &:hover .el-button,
    &:hover .el-color-picker {
      border-color: #c6e2ff;
    }
  }

  .el-select {
    height: 32px;

    input {
      height: 32px;
      border-color: transparent;
      background-color: transparent;
    }

    .el-input__icon {
      line-height: 32px;
    }
  }

  .el-color {
    .el-button,
    .el-color-picker {
      padding-left: 0;
      padding-right: 0;
    }

    &.is-active .el-button,
    &.is-active .el-color-picker {
      background-color: #ecf5ff;
      border-color: #c6e2ff;
    }
  }

  .el-color-picker {
    height: 32px;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;

    &:hover,
    &:focus {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }

    &:active {
      border-color: #c6e2ff;
    }

    &__trigger {
      height: 32px;
      width: 16px;
      border: none;
    }

    &__color {
      border: none;

      &-inner {
        background-color: transparent !important;
      }

      &.is-alpha {
        background-image: unset;
      }
    }

    &__icon {
      color: #606266;
    }
  }
}

.menu-floating {
  position: absolute;
  z-index: 1;
  margin-top: -0.25rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
