.menu-bar {
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }

  &__button {
    display: inline-block;
    height: 32px;
    width: auto;
    min-width: 32px;
    text-align: center;
    padding: 0 7px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #595959;
    outline: none;
    position: relative;
    margin: 0 0 0 3px;

    &:first-child {
      margin: 0;
    }

    &:hover {
      color: #fff;
      background: rgba(97, 144, 232, 0.63);
    }

    &.is-active {
      color: #fff;
      background: #6190e8;
    }

    &[data-tooltip] {
      &:after {
        background: rgba(48, 55, 66, 0.95);
        border-radius: 4px;
        color: #fff;
        content: attr(data-tooltip);
        display: block;
        font-size: 14px;
        left: 50%;
        top: 100%;
        max-width: 320px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        padding: 6px 10px;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        transform: translate(-50%, 8px);
        transition: opacity 0.2s, transform 0.2s;
        white-space: pre;
        z-index: 300;
      }

      &:hover,
      &:focus {
        &:after {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, 4px);
        }
      }
    }
  }

  span#{&}__button {
    font-size: 13.3333px;
  }
}

.menu-floating {
  position: absolute;
  z-index: 1;
  margin-top: -0.25rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
