.tiptap {
  &__container {
    display: flex;
    justify-content: center;
    padding: 16px 0 64px 0;
  }

  &__pane {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
    padding: 32px 60px 32px 60px;
    min-height: 100vh;
    position: relative;
  }

  &__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    * {
      caret-color: currentColor;
    }

    pre {
      padding: 0.7rem 1rem;
      border-radius: 5px;
      background: #000;
      color: #fff;
      font-size: 0.8rem;
      overflow-x: auto;
      white-space: pre;

      code {
        display: block;
      }
    }

    p code {
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: bold;
      background: rgba(#000, 0.1);
      color: rgba(#000, 0.8);
    }

    ul,
    ol {
      padding-left: 1rem;
    }

    li > p,
    li > ol,
    li > ul {
      margin: 0;
    }

    a {
      color: inherit;
    }

    blockquote {
      border-left: 3px solid rgba(#000, 0.1);
      color: rgba(#000, 0.8);
      padding-left: 0.8rem;
      font-style: italic;

      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
      border-radius: 3px;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;

      td,
      th {
        min-width: 1em;
        border: 2px solid #ddd;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        > * {
          margin-bottom: 0;
        }
      }

      th {
        font-weight: bold;
        text-align: left;
      }

      .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 4px;
        z-index: 20;
        background-color: #adf;
        pointer-events: none;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      overflow-x: auto;
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }

    .line-numbers {
      display: flex;
      padding-left: 0;

      code {
        padding-left: 1em;
      }

      .line-numbers-rows {
        left: 0;
        position: relative;

        span {
          width: 3em;
        }
      }
    }

    .toolbar {
      .toolbar-item {
        &:hover span {
          color: #bbb;
        }
      }

      .toolbar-action {
        cursor: pointer;
      }
    }

    ul[data-type="todo_list"] {
      padding-left: 0;
    }

    li[data-type="todo_item"] {
      display: flex;
      flex-direction: row;
    }

    .todo-checkbox {
      border: 2px solid #000;
      height: 0.9em;
      width: 0.9em;
      box-sizing: border-box;
      margin-right: 10px;
      margin-top: 0.3rem;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      border-radius: 0.2em;
      background-color: transparent;
      transition: 0.4s background;
    }

    .todo-content {
      flex: 1;

      > p:last-of-type {
        margin-bottom: 0;
      }

      > ul[data-type="todo_list"] {
        margin: 0.5rem 0;
      }
    }

    li[data-done="true"] {
      > .todo-content {
        > p {
          text-decoration: line-through;
        }
      }

      > .todo-checkbox {
        background-color: #000;
      }
    }

    li[data-done="false"] {
      text-decoration: none;
    }

    .sc-editor {
      display: flex;
    }

    .sc-editor > div {
      width: 50%;
    }
  }
}
